%nav.navbar
  .container
    %ul.navbar-list
      %li.navbar-item
        = link_to image_tag('logo.png'), root_path, class: 'navbar-link'
      %li.navbar-item-right
        = link_to "New article", new_article_path, class: 'button button--primary'
