%nav.navbar
  .container
    %ul.navbar-list
      %li.navbar-item
        = link_to "Home", root_path, class: 'navbar-link'
      %li.navbar-item
        = link_to "New article", new_article_path, class: 'navbar-link'