/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar, .navbar-spacer {
	border-top: 0;
	padding-bottom: 6px;
	height: 4.5rem;
}
.navbar-item-right {
	float: right;
}
textarea {
	height: auto;
}
.button {
	padding: 0 16px;
	outline: 0;
	color: rgba(0,0,0,0.44);
	background: rgba(0,0,0,0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.15);
	vertical-align: bottom;
	white-space: nowrap;
	text-rendering: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	border-radius: 999em;
	-webkit-transition: 100ms background-color,100ms border-color,100ms color;
	transition: 100ms background-color,100ms border-color,100ms color;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}
.button--primary {
	border-color: #a9d8b2;
	color: #57ad68;
}
.article--listing {
	padding: 25px 0 32px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.container--article--detail {
	margin-top: 80px;
}
.article--title {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	margin: 40px 0;
}
.article--title a {
	color: #000;
	text-decoration: none;
}
.article--body {
	font-family: Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: 100;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
}
.meta {
	color: rgba(0,0,0,0.3);
	font-size: 13px;
}
/*style pagination*/
.digg--pagination {
	text-align: center;
}
.digg--pagination .previous_page,.digg--pagination .next_page {
	padding: 2px;
	border: 1px solid;
	border-radius: 4px;
	margin: 1px 2px; 
}
.digg--pagination a {
	padding: 2px;
	border: 1px solid;
	border-radius: 4px;
	margin: 1px 2px; 	
	text-decoration: none;
}
.digg--pagination .current {
	font-style:normal;
	padding: 2px;
	border: 1px solid;
	border-radius: 4px;
	margin: 1px 2px; 	
}
.digg--pagination .page_info {
	margin: 11px 0;
}
.metabar {
	display: block;
	z-index: 500;
	width: 100%;
	font-size: 14px;
	color: rgba(0,0,0,0.3);
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
	-webkit-transition: 200ms background-color,200ms color;
	transition: 200ms background-color,200ms color;
}
.metabar--bottom {
	display: block;
	position: fixed;
	bottom: 0;
	height: 50px;
}
.navbar-category-list {
	float: left;
	margin-left: 20px;
	padding-top: 10px;
}
.navbar-category-list a{
	text-decoration:none;
	color: black;
}
.navbar-category-list a.current{
	text-decoration: none;
	color: black;
	border-bottom: rgb(0, 0, 0) 2px solid;
	padding-bottom: 20px;
}